.transaction-item-container {
  border-left: 1px solid #cbd5e1;
  border-bottom: 1px solid #cbd5e1;
  border-right: 1px solid #cbd5e1;
  display: flex;
  width: 100%;
  align-items: center;
}

.item {
  flex-grow: 1;
}

.list-item-para {
  margin-left: 40px;
  margin-right: 40px;
  width: 33%;
}

.table-row {
  display: flex;
  list-style-type: none;
  border-left: 1px solid #cbd5e1;
  border-bottom: 1px solid #cbd5e1;
  border-right: 1px solid #cbd5e1;
}

.table-cell {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 16px;
  margin-left: 32px;
  display: flex;
  align-items: center;
}

.name-column {
  width: 33%;
}

.mobile-no-column {
  flex-grow: 1;
}

.mobile-no-value {
  flex-grow: 1;
  margin-right: 12px;
}

.favorite-icon-container {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.favorite-icon {
  background: transparent;
  margin-right: 24px;
  align-self: center;
  border: none;
  outline: none;
  height: 18px;
  width: 18px;
}

.separator {
  margin: 0;
}
